.DS_Store
.terraform.lock.hcl
terraform.tfstate.backup
*.tfstate
*.terraform
dbt.env

logs/
orchestration/airflow/logs
orchestration/airflow/airflow-webserver.pid
airflow.cfg
airflow.db
standalone_admin_password.txt
webserver_config.py
