apache-airflow==2.4.0
apache-airflow-providers-airbyte==3.1.0
apache-airflow-providers-amazon==5.1.0
apache-airflow-providers-snowflake==3.3.0
boto3==1.26.120
dbt-core==1.5.1
dbt-extractor==0.4.1
dbt-snowflake==1.4.2
numpy==1.24.2
pandas==1.5.3
pip==23.1
pyarrow==11.0.0
pylint==2.17.3
PyYAML==6.0
snowflake-connector-python==3.0.3
sqlfluff==2.1.1
sqlfluff-templater-dbt==2.1.1 
