apache-airflow==2.4.0
apache-airflow-providers-airbyte==3.1.0
apache-airflow-providers-amazon==5.1.0
black==23.3.0
boto3==1.26.120
botocore==1.29.120
dbt-core==1.4.6
dbt-extractor==0.4.1
dbt-snowflake==1.4.2
Jinja2==3.1.2
PyYAML==6.0

